# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
lib/bes.egg-info/
lib/bes/_version.py

# dotenv
.env

# virtualenv
.venv
venv/

# IDEA files
.idea/

*~

VE
.testmondata
