task
  name: install_command_line_tools
  class: install_command_line_tools
  system: macos

task
  name: install_brew
  class: install_brew
  system: macos
  depends: install_command_line_tools

task
  name: install_git
  depends: install_command_line_tools

task
  name: change_shell_to_bash
  depends: install_command_line_tools
  platform: macos linux
