task command_line_tools
  class: install_command_line_tools
  system: macos

task brew
  class: install_brew
  system: macos
  depends: command_line_tools

task change_shell_to_bash
  class: change_shell_to_bash
  platform: macos linux

task git_macos
  class: brew_install_package
  platform: macos
  depends: brew
  value: packages=git,git-lfs
